In [41]:
import cx_Oracle
import pandas as pd
db = cx_Oracle.connect("LMEMBER","lmember","localhost:1521/xepdb1")
cursor = db.cursor()
cursor.execute("select * from PURSUM")
x = cursor.fetchall()
pursum = pd.DataFrame(x)
cursor.execute("select column_name from user_tab_columns where table_name='PURSUM'")
col = cursor.fetchall()
list1 = []
for i in col:
    for j in i:
        list1.append(j)
pursum.columns = list1
pursum.head()

        구매일자         총액
0 2014-01-01  116452438
1 2014-01-02  184781756
2 2014-01-03  303818039
3 2014-01-04  238136337
4 2014-01-05  195019261

In [42]:
cursor.close()
db.close()

In [20]:
pursum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구매일자    730 non-null    datetime64[ns]
 1   총액      730 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 11.5 KB

In [43]:
pursum['월'] = pursum['구매일자'].dt.month
pursum['년'] = pursum['구매일자'].dt.year

In [52]:
pursum['월'] = pursum['월'].astype('object')
pursum['년'] = pursum['년'].astype('object')

In [54]:
pursum['구매년월'] = pursum['년'].astype('object') + '-' + pursum['월'].astype('object')
pursum.info()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [50]:
pursum.head(20)

         구매일자         총액  월     년  구매년월
0  2014-01-01  116452438  1  2014  2015
1  2014-01-02  184781756  1  2014  2015
2  2014-01-03  303818039  1  2014  2015
3  2014-01-04  238136337  1  2014  2015
4  2014-01-05  195019261  1  2014  2015
5  2014-01-06  182250238  1  2014  2015
6  2014-01-07  173609164  1  2014  2015
7  2014-01-08  198276162  1  2014  2015
8  2014-01-09  218017079  1  2014  2015
9  2014-01-10  207827566  1  2014  2015
10 2014-01-11  246251446  1  2014  2015
11 2014-01-12  140344372  1  2014  2015
12 2014-01-13  242955425  1  2014  2015
13 2014-01-14  247968331  1  2014  2015
14 2014-01-15  208931526  1  2014  2015
15 2014-01-16  219481540  1  2014  2015
16 2014-01-17  472621709  1  2014  2015
17 2014-01-18  387904188  1  2014  2015
18 2014-01-19  330781447  1  2014  2015
19 2014-01-20  320367618  1  2014  2015